body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

#selectCategory {
  border: 1px solid #555 !important;
  border-radius: 4px;
  flex-grow: 1;
}

#nextButton {
  white-space: nowrap;
}

#drawingCanvas {
  border: 1px solid #555;
  border-radius: 4px;
}

.cross-button {
  font-size: 24px;
}

#check-zone {
  display: flex;
  align-items: center;
  height: 48px;
}

.quiz-option {
  margin-right: 0.5rem;
}

#character {
  font-size: 32px;
}

footer {
  font-size: 12px;
}