body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

#drawingCanvas {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.cross-button {
  font-size: 24px;
}

#character {
  font-size: 40px;
}

footer {
  font-size: 12px;
}
